.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  font-weight: bold;
  background-color: #efefef;
}

.header-container div {
  cursor: pointer;
}
